* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e0e0e9;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

.header {
  height: 90vh;
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#9594cf), color-stop(30%, #716fcf), to(#3e3d83));
  background-image: linear-gradient(to bottom left, #9594cf, #716fcf 30%, #3e3d83);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 83%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 83%, 0 100%);
}

.header .header-container {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .text {
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 100px;
  color: white;
}

.header .text .topic {
  font-size: 6rem;
  margin-bottom: 20px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.header .text .sub-topic {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 40px;
}

.header .text .button {
  background: #4734d9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4734d9), to(#b62bb8));
  background-image: linear-gradient(to bottom, #4734d9, #b62bb8);
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 15px 70px;
  text-decoration: none;
  border: none;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-top: 6rem;
}

.header .text .button:hover {
  background: #7415bd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7415bd), to(#cf14ad));
  background-image: linear-gradient(to bottom, #7415bd, #cf14ad);
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .header .text .topic {
    font-size: 3rem;
  }
  .header .text .sub-topic {
    font-size: 1.5rem;
  }
}

.first-section {
  position: relative;
  top: -175px;
  -webkit-clip-path: polygon(0 17%, 50% 0, 100% 17%, 100% 100%, 0% 100%);
          clip-path: polygon(0 17%, 50% 0, 100% 17%, 100% 100%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-section div {
  color: black;
}

.first-section .fs-img {
  width: 400px;
  height: 400px;
  border: 2px solid #9594cf;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0e9;
  border-radius: 8rem;
}

.first-section .fs-img img {
  border-radius: 3rem;
  background-color: #9594cf;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.first-section .fs-text {
  width: 700px;
  margin-left: 20px;
  margin-right: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 200px;
}

.first-section .fs-text--head {
  font-size: 4rem;
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
}

.first-section .fs-text--body {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: justify;
}

.hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.hr hr {
  width: 15rem;
  height: 10px;
  background-color: #9594cf;
  border-radius: 10px;
  position: relative;
  top: -50px;
}

@media only screen and (max-width: 1200px) {
  .fs-text {
    padding: 10px;
  }
}

@media only screen and (max-width: 1150px) {
  .first-section .fs-text {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .first-section .fs-img {
    width: 300px;
    height: 300px;
  }
}

.second-section {
  margin-bottom: 50px;
}

.second-section .ss-head {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.second-section span {
  color: blue;
}

.second-section .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-section .card__0, .second-section .card__1, .second-section .card__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin-bottom: 50px;
}

.second-section .card__0--text, .second-section .card__1--text, .second-section .card__2--text {
  font-size: 1.4rem;
}

.second-section .card__0--img, .second-section .card__1--img, .second-section .card__2--img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .card__0--img img, .second-section .card__1--img img, .second-section .card__2--img img {
  width: 100px;
}

.second-section .ss--button {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.second-section .ss--button button {
  background: #4734d9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4734d9), to(#b62bb8));
  background-image: linear-gradient(to bottom, #4734d9, #b62bb8);
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 15px 70px;
  text-decoration: none;
  border: none;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.second-section .ss--button button:hover {
  background: #7415bd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7415bd), to(#cf14ad));
  background-image: linear-gradient(to bottom, #7415bd, #cf14ad);
  text-decoration: none;
}

.footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3e3d83));
  background-image: linear-gradient(to top, #3e3d83);
  font-size: 1.4rem;
  padding: 20px;
}

.footer .ft__head {
  text-align: center;
  margin-bottom: 2.5rem;
}

.footer .ft__flex, .footer .ft__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .ft__flex .ft__flex--1 .button, .footer .ft__flex .ft__flex--2 .button, .footer .ft__socials .ft__flex--1 .button, .footer .ft__socials .ft__flex--2 .button {
  background: #4734d9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4734d9), to(#b62bb8));
  background-image: linear-gradient(to bottom, #4734d9, #b62bb8);
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 15px 70px;
  text-decoration: none;
  border: none;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.footer .ft__flex .ft__flex--1 .button:hover, .footer .ft__flex .ft__flex--2 .button:hover, .footer .ft__socials .ft__flex--1 .button:hover, .footer .ft__socials .ft__flex--2 .button:hover {
  background: #7415bd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7415bd), to(#cf14ad));
  background-image: linear-gradient(to bottom, #7415bd, #cf14ad);
  text-decoration: none;
}

.footer .ft__flex .ft__flex--1, .footer .ft__socials .ft__flex--1 {
  margin-bottom: 1.5rem;
}

.footer .ft__flex {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .ft__socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .ft__socials--discord {
  margin-right: 2rem;
}

.footer .ft__socials--twitter {
  margin-left: 2rem;
}
/*# sourceMappingURL=styles.css.map */